Flask==1.0.2
flask-restplus==0.11.0
grpcio==1.14.1
Pillow==5.1.0
numpy==1.14.5
protobuf==3.6.1
tensorflow-serving-api-python3==1.8.0
prometheus_client==0.2.0
gunicorn==19.8.1
eventlet==0.23.0
json-logging-py==0.2.0
weakreflist==0.4.0
